$colorPrimaryMjhSky: #0092b6;
$colorPrimaryMjhBrick: #30383b;
$colorPrimaryMjhGold: #b58f5c;
$colorPrimaryMjhWhite: #ffffff;
$colorPrimaryMjhStone: #f0eeeb;
$colorPrimaryMjhMortar: #e3ded8;
$colorPrimaryMjhConcrete: #c6bdb5;

$colorSecondaryMjhRed: #d04b33;
$colorSecondaryMjhYellow: #fad672;
$colorSecondaryMjhBlush: #ee7180;
$colorSecondaryMjhOrange: #f7a941;
$colorSecondaryMjhCherry: #a84d7a;
$colorSecondaryMjhLime: #d3d04d;
$colorSecondaryMjhTeal: #53bbb1;
$colorSecondaryMjhPink: #f5b5d2;
$colorSecondaryMjhGreen: #33a579;
$colorSecondaryMjhBurgundy: #a84c52;
$colorSecondaryMjhMint: #aad29e;

$colorStatusMjhStsBlue: #3485fd;
$colorStatusMjhStsIndigo: #7e36f4;
$colorStatusMjhStsPurple: #8660cb;
$colorStatusMjhStsPink: #dd5498;
$colorStatusMjhStsRed: #e25563;
$colorStatusMjhStsOrange: #fd933a;
$colorStatusMjhStsYellow: #ffcb2f;
$colorStatusMjhStsGreen: #4ab563;
$colorStatusMjhStsTeal: #44d2a8;
$colorStatusMjhStsCyan: #3cb1c3;

$colorGrayMjhGray100: #f8f9fa;
$colorGrayMjhGray200: #e9ecef;
$colorGrayMjhGray300: #dee2e6;
$colorGrayMjhGray400: #ced4da;
$colorGrayMjhGray500: #adb5bd;
$colorGrayMjhGray600: #6c757d;
$colorGrayMjhGray700: #495057;
$colorGrayMjhGray800: #343a40;
$colorGrayMjhGray900: #212529;

$colorActionMjhBrickHover: #30383b;
$colorActionMjhBrickActive: #30383b;
$colorActionMjhBrickDisabled: #30383b;

$colorActionMjhSkyHover: #0092b6;
$colorActionMjhSkyActive: #0092b6;
$colorActionMjhSkyDisabled: #0092b6;

$colorActionMjhGoldHover: #b58f5c;
$colorActionMjhGoldActive: #b58f5c;
$colorActionMjhGoldDisabled: #b58f5c;

$colorActionMjhStoneHover: #f0eeeb;
$colorActionMjhStoneActive: #f0eeeb;
$colorActionMjhStoneDisabled: #f0eeeb;

$colorActionMjhMortarHover: #e3ded8;
$colorActionMjhMortarActive: #e3ded8;
$colorActionMjhMortarDisabled: #e3ded8;

$colorActionMjhConcreteHover: #c6bdb5;
$colorActionMjhConcreteActive: #c6bdb5;
$colorActionMjhConcreteDisabled: #c6bdb5;

$colorSupportingMjhNeon: #d9ff0e;